<html> 
    <head>
        <title> {{ title }} 
        </title>
    </head>
    <body>
    <form>
    
    <h1><u><i>Information</u></i></h1>

     
     <br><i>Qu'est-ce que la glycémie ?</u></i><br>

<br>La glycémie est le taux de glucose dans le sang. <br>Elle varie au cours de la journée, en fonction :
<ul><li>de l'alimentation : la glycémie augmente après les repas, puisque les glucides présents dans les aliments sont décomposés en glucose pour être assimilés par l'organisme, </li>
<li>de l'activité physique : une activité physique intense puise dans les stocks de glucose de l'organisme et entraîne donc une baisse transitoire de la glycémie, </li>
<li>des émotions et du stress : la libération de certaines hormones en réponse aux émotions fortes provoque une augmentation de la glycémie.</li>
   </ul>  
   
     <br><i>Valeurs normales de la glycémie</u></i><br>
     <p>La glycémie normale est comprise :</p>
<ul>
<li>à jeun : entre 4,4 et 6,1 mmol/L, soit 0,8 à 1,1 g/L,</li>
<li>2 h après la fin d'un repas (glycémie post-prandiale) : inférieure à 7,8 mmol/L, soit inférieure à 1,4 g/L, </li>
<p>Si la glycémie est supérieure aux valeurs normales, il s'agit d'une hyperglycémie, tandis qu'une valeur inférieure définit une hypoglycémie. Ces deux situations témoignent d'anomalies dans les processus de régulation de la glycémie.

<br>L'hyperglycémie peut témoigner de l'existence d'un diabète. Le diabète est diagnostiqué, lorsque la glycémie à jeun est supérieure ou égale à 1,26 g/L, à au moins deux reprises. Si elle est comprise entre 1,10 et 1,25 g/l, cela signe un prédiabète</br></p>
</ul>   
     
   <br><i> Source : 
   <br>https://diabete.ooreka.fr/astuce/voir/296137/glycemie-a-jeun-analyse-du-taux-de-sucre-dans-le-sang#:~:text=La%20glyc%C3%A9mie%20est%20le%20taux%20de%20glucose%20dans,en%20glucose%20pour%20%C3%AAtre%20assimil%C3%A9s%20par%20l%27organisme%20%3B </br></i></br>  
    
    <div>
    <br>
    <button type="button" onclick="javascript:history.back()"> Retour à la page d'accueil </button>
    </div>
          
    
    
    </form>
    </body>
</html>
 
